## Deep Dive into Operators

### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [23]:
## Arithmethic Operation

a=2024
b = 400

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

2424
1624
809600
5.06
5
24
304932185969439157181100739525060418875034755675462293898724545412032999733914157102434212774616143991977294449461030944709654214204876033789638476424860670821240710760426668520513496120169606872392290915387540773168394195212394330870686238012563275965732433849839967663512011447717311469067981757758951506470706408759837575877061163476561503058000126188901408299384769309050784513530414693859525690549724785995679161729756641620363252620408911500525255844997497927174927918407764829293945776424602216838970788272716606990126010027623239946138409088287315080358217683342888629854391659691118994739579920866472031618499229798212256308642701781704331948825695880228815397321481191128954759819394647709445594094616894217519005615807284140943835526766931267941186318351620364864088511149142019161312351023965580162578767265243551674727780985171363598049236529328885761174239937578546858439816481173762622266985902193771741379038194593947528364657236227125119970088942064587273805193173714666047838292847774423610238019303683784403160071750595085362461836419479200844973039594591788259763927758732683270505766185955072109355098208205143680464559587371188872620946085950906862700959106847450399768065126255482483781288599859779015975132401805325525067994313214290437300587059566599049689119084175430552830311251523348463800549376

In [7]:
10/5

2.0

In [8]:
21/5

4.2

In [9]:
21//5

4

#### Comparison Operators

In [10]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [11]:
str1="Vijay"
str2="Vijay"

str1==str2

True

In [12]:
## Not Equal to !=
str1!=str2

False

In [13]:
str3="Vijay"
str4="vijay"

str3!=str4

True

In [14]:
# greater than >

num1=45
num2=55

num1>num2

False

In [15]:
## less than <

print(num1<num2)

True

In [16]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [17]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [18]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [19]:
X=False
Y=True

result =X and Y
print(result)

False

In [20]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [21]:
# Not operator
X=False
not X

True

In [22]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 16.0
Subtraction: 10.0
Multiplication: 39.0
Division: 4.333333333333333
Floor Division: 4.0
Modulus: 1.0
Exponentiation: 2197.0